
html{
    font-family: 'Courier New', Courier, monospace;
    width:  100em;
    margin: 33px;
    margin-right: 33px;
} 

h1 {
    color: rgb(125, 200, 15);
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-weight: bolder;
}
a {
    color: rgb(33, 58, 170);
}
li{
    padding: 15px;
    list-style-type: upper-roman;
    margin: 1em;
}
.index{
    background-image: url(/fnaf.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.fotocroquetas{
    position: absolute;
    top: 12%;
    left: 6%;
    position: fixed;
}

.fotopastel{
    position: absolute;
    top: 12%;
    left: 81%;
    position: fixed;
}

.fotojose{
    position: absolute;
    top: 33%;
    left: 41%;
    position: fixed;
}
.croquetas{
    background-color: rgb(255, 210, 135);
}

.pastel{
    background-color: rgb(200, 140, 110);
}
